{% extends 'base.html' %}

{% block content %}
    <!-- Title -->
    <h1 class="display-4 title">Grace & Austin's Wedding</h1>
    <h3 class="title">More Information</h3>

    <!-- RSVP Information -->
    <div class="mt-4">
        <div class="table-container">
        <table id="information">
            <thead>
                <tr>
                    <th scope="col">Food & Drinks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Will be provided in abundance. Food by Coast to Coast Golden Roast, cold nibbles, hot roast dinner buffet and various desserts. Beer, Wine, Sparkling and non-alcoholic options.</td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th scope="col">Attire</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Summertime cocktail attire. If you're looking for some inspiration, here's a general vibe check to get you started: <a href="https://www.pinterest.com/">Pinterest</a>. Heads up, the ceremony will be held outdoors on the grass, so block heels might be the most comfortable choice for footwear.</td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th scope="col">Registry</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>We are so thankful you will be joining us to celebrate our marriage. Gifts are by no means expected; however, cards, gifts, and well wishes can be brought to our event. Cash gifts will go toward quality items for our newlywed house to make it our forever home.</td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th scope="col">Additional Guests</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Please RSVP for invitees only.</td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th scope="col">Location</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Hawley House is hosting our entire celebration; no travel between venues is required.</td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th scope="col">Weather</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>February is usually dry and mild at Hawley Beach. The temperature should float around the mid 20’s. There is an indoor chapel on site in case of rain.</td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th scope="col">Parking</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Available onsite, no charge.</td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th scope="col">Travelling from Interstate</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <strong>Flying into Devonport:</strong> The closest airport is Devonport airport. We strongly recommend flying in at least one day prior as regional flights are cancelled last minute on occasion. If you do not hire a car, you will need to get a taxi from the airport (around 20 min ride) as there is no rideshare service on the North West coast.<br>
                        <strong>Flying into Launceston:</strong> Launceston Airport is a 100km, one-hour drive (approx) from Hawley Beach. Qantas, Jetstar, and Virgin fly into this airport. A hire car will be required if you fly into Launceston.<br>
                        <strong>Sailing into Devonport:</strong> The Spirit of Tasmania ferry runs day/night sails every day. Travel time is around 12 hours, and vehicles can be brought onboard. The Spirit docks in Devonport, around 25 mins from Hawley Beach.
                    </td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th scope="col">Hawley House</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="https://www.hawleyhouse.com.au/">Website</a></td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th scope="col">Extra Curriculars</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Hawley Beach is a quaint and peaceful coastal town, known for its beaches and walking trails. If you're up for it, bring your bathers for a splash either before or after the wedding.</td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th scope="col">More Questions?</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Please contact Grace 0400 251 703 or Austin 0417 764 534.</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}
